.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.project__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 100px 50px;
}

.project__title > p {
    font-size: 3rem;
    color: #333;
    text-align: center;
    max-width: 1000px;
}

.project__authorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project__authors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project__author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.project__author > p {
    font-size: 1.25rem;
    color: hsl(204, 86%, 53%) !important;
    cursor: pointer;
}

.project__author > p:hover {
    text-decoration: underline;
}

.project__affilations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project__links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: #363636;
    padding: 10px 15px;
    border-radius: 100px;
    cursor: pointer;
    color: #fff;
}

.project__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
}

.project__content {
    max-width: 1000px;
}

.project__teaser {
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project__teaserText {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__bodyTitle {
    font-size: 2rem;
    color: #545454;
    text-align: center;
}

.project__abstractContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project__abstract {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 100px;
}

.project__abstractText {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.5;
    color: #545454;
}

.project__experiments {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.project__experiment {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}

.project__maskBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.project__maskBody > img {
    width: 50%;
    object-fit: cover;
}

.project__maskBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: left;
    line-height: 1.5;
}

.project__editingBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
}

.project__editingBody > img {
    width: 50%;
    object-fit: cover;
}

.project__editingBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__wideBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.project__wideBody > img {
    width: 50%;
    object-fit: cover;
}

.project__wideBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__ambiguousBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.project__ambiguousBody > img {
    width: 80%;
    object-fit: cover;
}   

.project__ambiguousBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__meshBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.project__meshBody > img {
    width: 50%;
    object-fit: cover;
}

.project__meshBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__motionBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.project__motionBody > img {
    width: 50%;
    object-fit: cover;
}

.project__motionBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__experimentTitle {
    width: 100%;
    text-align: left;
}

.project__lambdaTesting {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.project__lambdaTestingBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.project__lambdaTestingBody > p {
    font-size: 1rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
}

.project__bibtex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 50px;
}

.project__bibtex > pre {
    padding: 30px 40px;
    border-radius: 10px;
    font-size: 0.9rem;
    color: #545454;
    text-align: justify;
    line-height: 1.5;
    overflow-x: auto;
    width: 100%;
}